body{
	color:var(--font-color);
	height: 100%;
	margin : auto;
	padding : 0;
	line-height : 1.6;
	font-size : 20px;
	max-height:100%;
	background-color : var(--background-color);
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
	overflow-x:scroll;
	overflow-y:scroll;
	-webkit-text-size-adjust: 100%;
	text-align: justify;
}

form{
    margin: 1em;
    border: 2px solid;
    border-radius: 1em;
    list-style-type: none;
}

li {
    padding-left: 1em;
    vertical-align: middle;
    display: inline-block;
}

form:has(li.color1){
	background-color: yellow;
}

form:has(li.color2){
	background-color: rgb(255, 131, 131);
}